* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
 
 
  background: linear-gradient(to right, #6703aa, #025a94, rgb(2, 135, 197));
  margin-left: 0px;
   /* evita scroll lateral en móvil */
  justify-content: center;
  
  padding-top: 100px;   /* espacio solo arriba */
  margin: 0;            /* elimina márgenes que empujan el footer */
  
  min-height: calc(114vh - 121px - 60px); /* ocupa toda la pantalla menos header y footer */
 


  
}

.layout {
  
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 10px;
}

.left {
  
  flex: 4;
  margin-left: 5px;
  border-radius: 8px;
}

.favorito {
  position: sticky;
  top: 120px;
  
  margin-top: 109px;
  margin-right: 5px;
  
  color: #111111;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(245, 243, 243, 0.295);
  background-color: #0c0c3d; /* fondo para diferenciar */
}

.titulo_favorito {
  color: #f9f9fc;
  text-align: center;
  padding-bottom: 15px;
}

.titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f8f6f6;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
}

.album {
  color: #fdf8f8;
  font-style: italic;
  font-size: 12px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.favoritoItem {
  width: 100%;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 0.5rem;
}
.contbtn{
  display: "flex";
  justify-content: "flex-start";
  margin-Bottom: "10px";
}
.btnActualizar {
  background-color: rgb(49, 140, 224);
 
  border:none;
  color:  #f7f8f7;
  padding: 8px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btnActualizar:hover {
  background-color: #139da1;
  color:#f8f6f6;
}

.btnVaciar {
  background-color: #d9534f;
  color: white;
  border: none;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.btnVaciar:hover {
  background-color: #c9302c;
}

.btnQuitarFavorito {
  background-color: transparent;
  border: 1px solid #d9534f;
  color: #d9534f;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
}

.btnQuitarFavorito:hover {
  background-color: #d9534f;
  color: white;
}


/* Responsive */
@media (max-width: 900px) {
  .layout {
    flex-direction: column;
    gap: 16px;
  }

  .favorito {
    position: static; /* que no quede fijo en móvil */
    width: 100%;
    margin: 0;
  }

  .titulo {
    font-size: 14px;
    text-align: left;
  }
   
  main{
  padding-top: 220px;
}


}







