* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgba(8, 9, 83, 0.87);
  min-height: 100vh;
  overflow-x: hidden; /* evita scroll lateral en móvil */
}

.layout {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 10px;
}

.left {
  flex: 4;
  margin-left: 5px;
  border-radius: 8px;
}

.favorito {
  position: sticky;
  top: 20px;
  margin-right: 5px;
  margin-top: 52px;
  color: #111111;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(245, 243, 243, 0.295);
  z-index: 10;
  background-color: #0c0c3d; /* fondo para diferenciar */
}

.titulo_favorito {
  color: #f9f9fc;
  text-align: center;
  padding-bottom: 15px;
}

.titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f8f6f6;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
}

.album {
  color: #fdf8f8;
  font-style: italic;
  font-size: 12px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.favoritoItem {
  width: 100%;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 0.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    gap: 16px;
  }

  .favorito {
    position: static; /* que no quede fijo en móvil */
    width: 100%;
    margin: 0;
  }

  .titulo {
    font-size: 14px;
    text-align: left;
  }
}







