*{
    margin: 0;
    padding: 0;
}
main{
    background-color: rgba(8, 9, 83, 0.87);
   
}
.layout{
    background-color: "";
    display: flex;
    gap: 24px;
    align-items: flex-start;
}
.left{
  margin-left: 5px;
    flex: 4;
    color: "";
    background-color:"";
    border-radius: 8px;
}

.favorito {
  position: sticky;
  top: 20px; 
  margin-right: 5px;
  margin-top: 27px;
  background-color:"";
  color: #111111;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(245, 243, 243, 0.295);
  z-index: 10;
}


.titulo_favorito{
    color: #f9f9fc;
    text-align: center;
    padding-bottom: 15px;
}

.titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f8f6f6;
  font-weight: bold;
  font-size: 10px;
  text-align:right;
}

.album {
  color: #fdf8f8;
  font-style: italic;
  font-size: 12px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}


.canciones {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
}

.favoritoItem {
  width: 100%;
  max-width: 220px;       /* o el ancho que uses en tus tarjetas */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 0.5rem;
}

.searchForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.searchInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.searchButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}






