.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 230px;
  padding: 16px;
  border: 1px solid #686767;
  border-radius: 8px;
  background-color: #918e8e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  flex-shrink: 0;
}

.card:hover {
  box-shadow: 0 4px 12px rgb(117, 117, 119);
  transform: translateY(-4px);
}

.imageContainer img {
  width: 100px;
  height: auto;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: hidden;
}

.title {
  color: rgb(247, 244, 244);
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  line-height: 1.2;
  height: 18px;
  flex-shrink: 0;
}

.album {
  color: rgb(243, 244, 245);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  line-height: 1.2;
  height: 16px;
  flex-shrink: 0;
}

.footer {
  margin-top: auto;
  flex-shrink: 0;
}

.priceConteiner {
  margin-bottom: 6px;
}

.price {
  font-size: 12px;
  color: #f0f0f0;
}

.actions {
  color: rgb(243, 238, 238);
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  flex-shrink: 0;
}

.iconButton {
  color: rgb(243, 242, 242);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.2);
}

.mensaje {
  background-color: #e0f7fa;
  color: #00796b;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  flex-shrink: 0;
}

.audio {
  width: 100%;
  margin-top: 0.5rem;
  display: block;
  flex-shrink: 0;
}


