.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: left;
  overflow-x: hidden;
  align-items: flex-start;
}

.sectionTitle {
  color: rgb(5, 243, 211);
  font-family: sans-serif;
  font-size: 1rem;
  
  font-size: 25px;
  margin-top: 20px;
}



